.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slide {
  flex: 0 0 calc(33% - 1rem);
  margin-right: 2rem;
  scroll-snap-align: start;
  opacity: 0;
}

.active {
  opacity: 1;
}

.container {
  display: flex;
  transition: all 0.5s ease;
  margin: 0 7rem;
}

.catalog {
  padding: 4rem 0;
  background-color: var(--gris);
  /* margin: 0 10rem; */
}

.catalog__title {
  text-align: center;
  color: var(--gris);
  margin-bottom: 3rem;
  font-size: 3.2rem;
}

.catalog__types {
  display: flex;
  justify-content: space-around;
  margin: 4rem 6rem;
}

.catalog__typeBtn {
  background-color: var(--grisClaro);
  border: 3px solid;
  padding: 1rem;
  margin: 0 1rem;
  width: 25%;
  border-radius: 1rem;
  transition: all 0.3s ease;
  color: var(--gris);
}

.catalog h2 {
  text-align: center;
  color: var(--blanco);
  margin-bottom: 4rem;
}

.materials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.catalog__typeBtn:hover {
  border-color: var(--primario);
}

.catalog__typeBtn.selected {
  background-color: var(--primario);
  color: var(--blanco);
  border-color: var(--primario);
}

.catalog__typeBtn h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.catalog__typeBtn p {
  font-size: 1.6rem;
}
